body{
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas:
    "Header Header"
    "Aside Main"
    "Article Main"
    "Footer Footer";
    height: 100vh;
}

.Header{
    grid-area: Header;
    background-color: rgb(160, 126, 83);
}
.Main{
    grid-area: Main;
    background-color: rgb(41, 80, 67);
}
.Footer{
    grid-area: Footer;
    background-color: blueviolet;
}
.aside{
    grid-area: Aside;
    background-color: rgb(126, 104, 71);
}
.Article{
    grid-area: Article;
    background-color: rgb(81, 124, 110);
}