body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 35% 1fr;
    grid-template-columns: 1fr 25% 1fr;
    background-color: rgb(241, 238, 238);
}

.L_Container{
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 10%;
    background-color: white;
   
}
.Data{
    margin: 10%;
}
.Data_User{
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 25% 1fr;
}
.TXT{
grid-column: 2/3;
}
.Data_Pasword{
    display: grid;
    grid-template-columns: 70% 1fr 10%;
    grid-template-rows: 50% 25% 1fr ;
    gap: 3px;
    

}
#password{
    grid-column: 1/3;
}
#BTN{
    grid-column: 2/3;
}
#txt{
    grid-column: 1/2;
    grid-row: 1/2;
}
.IM{
    grid-column: 1/2;
    grid-row: 1/3;
    }
img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(182, 175, 189);
}
#toogle{
    grid-row: 3/4;
    grid-column: 1/2;
}