body{
    height: 100vh;
    width: 100%;
    padding: 2%;
    background-color: #183D3D;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    display: grid;
    grid-template-rows: 20% 1fr 10%;
    border: 5px solid white;
}


.header{
    border: 5px solid red;
}

.main{
    border: 5px solid purple;

}

.controls{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.my_card{
    width: 30%;
    height: 150px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer{
    border: 5px solid blue;
}