/*general sin identificadores*/
div{
    background-color: blueviolet;
} 
/*por id*/
#div2{
    background-color: aqua;
}
/*por clase*/
.my_Div{
    background-color: rgb(34, 182, 150); /*color de fondo*/
    color: antiquewhite; /*color de letra*/
    border: 5px solid black; /*config de bordes*/
    border-radius: 5px; /*radio de bordes*/
    margin-top: 50px; /*espacio entre datos por encima del div*/
    padding-left: 5px; /*espacios entre letra y margenes*/
}