body{
    height: 100vh;
    background-color:  rgb(175, 174, 174);
    display: grid;
    grid-template-rows: 10% 1fr 10%;

}
.container{
    grid-row: 2/3;
    background-color:  rgb(239,240,241);
    padding: 2%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22% 1fr 5%;
    grid-template-areas:
    "Header Header Header"
    "Main Main Main"
    "- - -";
}
.Header{
grid-area: Header;
}
.BTN{
   display: flex;
   gap: 1%;
}
.T{ 
    border: 5px solid white;
    background-color: white;
    border-radius: 10%;
}
.Main{
    grid-area: Main ;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1fr 10%;
}
.Gen{
    margin: 2%;
    padding: 2%;
    border: solid antiquewhite;
    border-radius: 5%;
    background-color: white;
    display: grid;
    grid-template-rows: 50% 1fr 10%;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 
    "MAX MAX MAX"
    "M1 M2 M3"
    "Footer Footer Footer";
    gap: 1%;
}
.Data{
  grid-area: Footer;
  display: flex;
  justify-content: space-between;
}

.font:nth-child(1){
    grid-area: MAX;
    object-fit: cover;
}
img{
    border-radius: 10%;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(182, 175, 189);
}
